* {
  margin : 0; 
  padding : 0; 
  box-sizing : border-box;
}

body {
  background-color: #eee;
}

.App {
  display : flex;
  min-height : 100vh;
  align-items : center;
  justify-content : center;
  padding : 10px;
}

.calculator {
  width : 100%;
  max-width : 400px;
  background-color : #fff;
  border-radius : 16px;
  overflow: hidden;
  box-shadow : 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.display {
  padding : 16px;
  text-align : right;
  background-color : #000000;
  color : #eee;
  font-size: 24px;
  font-weight : 300;
}

.display span {
  font-size : 14px;
  color : #888;
}

button {
  appearance : none;
  border : none;
  outline : none;
  color : #fff;
  font-size : 20px;
  padding : 16px;
  cursor : pointer; 
  transition : 0.4s;
} 


.operators{
  display : flex;
}

.operators button {
  flex : 1 1 0%;
  background-color: #6d6d6d 
}

.digits {
  display : flex;

  flex-wrap : wrap;
}

.digits button {
  flex : 1 1 0%;
  background-color : #000000;
}